<h3>Welcome to Jerry Code</h3>


<p><%=  params[:prenom]%></p>
<p><%= params[:nom_de_famille] %></p>






<form action="/contact" method="get">
  <input type="text" name="prenom" placeholder="Prenom">
  <input type="text" name="nom_de_famille" placeholder="Nom de famille">
  <input type="submit">
</form>
