// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: roboto;
  color: #444444;

}
.navbar {
  justify-content: space-between;
}

.bread-crums{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  img{
    width: 140px;
  }
  a{
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
    margin-top: 25px;
    color: #444444;
  }
  a:hover{
    color: #004996;
  }
}

.card{
  margin-top: 70px;
  margin-bottom: 35px;
  border-color: #004996;
  p{
    font-family: roboto;
    font-size: 15px;
    margin-top: 15px;
  }
}

.input-group-text{
  background-color: #004996;
  color: white;
}

.btn {
  background-color: #004996;
  color: white;
  border-color: #004996;
}

.form-control{
  background-color: #efefef;
}
