// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: roboto;
  color: #444444;

}
.navbar {
  justify-content: space-between;
}

.bread-crums{
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  img{
    width: 140px;
  }
  a{
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
    margin-top: 25px;
    color: #444444;
  }
  a:hover{
    color: #004996;
  }
}

.card{
  margin-top: 70px;
  margin-bottom: 35px;
  border-color: #004996;
  p{
    font-family: roboto;
    font-size: 15px;
    margin-top: 15px;
  }
}

.input-group-text{
  background-color: #004996;
  color: white;
}

.btn {
  background-color: #004996;
  color: white;
  border-color: #004996;
}

.form-control{
  background-color: #efefef;
}

.btn-div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #1EDD88;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}
